<header class="header">
  <div class="header__container">
    <a href="/">
      <img class="logo" src="/img/aws_iff-logo.svg" alt="aws_iff" srcset="" />
    </a>
    <a class="header__button" href="/post">Novo Post</a>
  </div>
</header>